astroid==2.5.3
certifi==2020.12.5
chardet==4.0.0
idna==2.10
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
mypy==0.812
mypy-extensions==0.4.3
pylint==2.7.4
pyTelegramBotAPI==3.7.7
requests==2.25.1
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.7.4.3
urllib3==1.26.4
wrapt==1.12.1
