[Unit]
Description=MQTT telegram bot
#After=syslog.target
After=network.target
Requires=docker.service
Requires=containerd.service

[Service]
StandardOutput=null
StandardError=null
#LimitMEMLOCK=infinity
#LimitNOFILE=65535
RestartSec=5s
Type=simple
User=root
Group=root
# If using Unix socket: tells systemd to create the /run/gitea folder, which will contain the gitea.sock file
# (manually creating /run/gitea doesn't work, because it would not persist across reboots)
#RuntimeDirectory=gitea
ExecStart=docker run --rm --name iot_mqtt_tbot iot_mqtt_tbot:latest
KillSignal=SIGINT
Restart=always
#Environment=USER=git HOME=/home/git GITEA_WORK_DIR=/var/lib/gitea
#CapabilityBoundingSet=CAP_NET_BIND_SERVICE
#AmbientCapabilities=CAP_NET_BIND_SERVICE
###

[Install]
WantedBy=multi-user.target
